body {
  padding-top: 58px;
}

.col-xs-12 {
  background-color: #fff;
}


.nav {
  width: 95%;
}

li {
  border:0 #f2f2f2 solid;
  border-bottom-width:1px;
}

.navbar {
  margin: 0px;
}

.sidebar-brand {
  display: block;
  margin-top: 15px;
  width: 99px;
  height: 33px;
  text-align: center;
}

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {

  .sidebar {
    position: absolute;
    width: 41.6%;
    background-color: #a6a6a6;
  }

  .nav>li {
    color: #ddd;
    background: linear-gradient(#3E3E3E, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
  }

  .nav>li:first-child {
    border-top:0;
  }

  .nav>li>a {
    color: #ddd;
  }

  .nav>li>a>img {
    max-width: 14px;
  }

  .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background: linear-gradient(#373737, #323232);
    color: #fff;
  }

  .sidebar-brand {
    padding-left: 10px;

  }

  .chat-room {
    height: 90%;
  }

  .messages {
    display: block;
    line-height: 4rem;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 25px;
    background: lightgrey;
  }

  .messages:first-child {
    margin-top: 15px;
  }

  .message-user{
    font-family: raleway, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 5px;
  }

  .message-content {
    font-family: raleway, sans-serif;
    font-size: 1.6rem;
    padding-left: 15px;
  }

  .message-sent-at {
    font-family: raleway, sans-serif;
    font-size: 1.2rem;
    padding-right: 5px
  }

  .message-sender {
    bottom: 15px;
    position: fixed;
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .sidebar-large {
    position: relative;
    width: 30%;
    background-color: #a6a6a6;
    height: 100%;
    padding-right: 0;
    padding-top: 20px;
  }

  .messages {
    line-height: 4rem;
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 25px;
    background: lightgrey;
  }

  .messages:first-child {
    margin-top: 15px;
  }

  .message-user{
    font-family: raleway, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 5px;
  }

  .message-content {
    font-family: raleway, sans-serif;
    font-size: 1.6rem;
    padding-left: 15px;
  }

  .message-sent-at {
    font-family: raleway, sans-serif;
    font-size: 1.2rem;
    padding-right: 5px
  }

  .message-sender {
    position: fixed;
    margin-right: auto;
    bottom: 15px;
    width: 80%;
  }
}
