.navbar {
  display: inline-block;
  position: fixed;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.messages-container {
  display: block;
  width: 80%;
  margin-left: 200px;
}

.message-sent-at {
  float: right;
}

.add-room-button {
  margin-bottom: 15px;
}

.message-sender {
  display: block;
  position: absolute;
  bottom: 5px;
  width: 70%;
  margin-left: 200px;
}

.room-title {
  margin-left: 200px;
  margin-top: 100px;
}
