.container {
  margin-top: 100px;
}

.title-text {
  display: block;
  padding: 5px;
}

.dropdown-title-text {
  display: block;
  padding: 10px;
}

.room-list {
  display: block;
}

.messages {
  display: block;
}

.message-sent-at {
  float: right;
}

.add-room-button {
  margin-bottom: 15px;
}

.message-sender {
  display: block;
}

.message-text-box {
  display: inline-block;
  width: 80%;
  margin-left: 10px;
}

.send-button {
  display: inline-block;
  margin-left: 10px;
}

.room-title {
  display: block;
  background-color: lightgrey;
  border-radius: 25px;
}

.room-title-text {
  padding: 10px;
}
