<!-- Header, site title, and hamburger nav-->
  <div class="header">
    <div class="container-fluid header-content">
      <div class="toggle-button">
        <button class="navbar-toggle" ng-click="toggleNav()">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
      </div>
      <div class="navbar-brand">
        <img class="img-responsive" src="/assets/images/bloc-chat-logo.png">
      </div>
    </div>
  </div>



  <!-- Main content -->
  <main class="row main-content">
  <!-- sidebar -->
    <section ng-show="showNav" class="col-xs-4 visible-xs sidebar">
      <span class="welcome" ng-show="!roomChosen">Welcome! Please choose a chat room</span>
      <h2 class="room-title-text" ng-show="roomChosen">{{roomName}}</h2>
      <ul class="nav">
        <li  ng-repeat="room in rooms">
          <a href="#" class="room-text" ng-click="openRoom(room.$id)">{{room.name}}</a>
        </li>
        <button type="button" class="add-room-button btn btn-default btn-sm" ng-click="open()">New Room</button>
      </ul>
    </section>

  <!-- sidebar large screen -->
    <section class="col-sm-3 hidden-xs sidebar-large">
      <span class="welcome" ng-show="!roomChosen">Welcome! Please choose a chat room</span>
      <h2 class="room-title-text" ng-show="roomChosen">{{roomName}}</h2>
      <ul class="nav room-list">
        <li  ng-repeat="room in rooms">
          <a href="#" class="room-text" ng-click="openRoom(room.$id)">{{room.name}}</a>
        </li>
        <button type="button" class="add-room-button btn btn-default btn-sm" ng-click="open()">New Room</button>
      </ul>
    </section>

  <!-- Chat room and message sender -->
    <div class="chatroom-container">

      <div ng-hide="showNav" class="col-xs-12 message-container">

        <div class="message-scroll">
          <div class="messages" ng-repeat="message in messages | orderBy: 'sent_at'">
            <div class="row row-centered">
              <span class="message-user col-xs-2 col-centered">{{message.username}}</span>
              <span class="message-content col-xs-7 col-centered">{{message.content}}</span>
              <span class="message-sent-at col-xs-3 col-centered"><time>{{message.sent_at | timecode}}</time></span>
            </div>
          </div>
        </div>


      </div>


      <div ng-hide="showNav" class="col-xs-12 sender-container">
        <form class="message-sender" ng-submit="sendMessage(message)">
          <div class="message-text-box">
            <input type="text" ng-model="newMessage" class="form-control" placeholder="Speak your mind" />
          </div>
          <div class="send-button">
            <button type="button" class="btn btn-primary" ng-click="sendMessage(message)">Send</button>
          </div>
        </form>
      </div>


    </div>
  </main>
